*{
    font-family: 'Amita', serif;
  font-family: 'Satisfy', cursive;
  place-content: center;
  }
  #d12,#d34,#d56,#d7{
    display:flex;
    justify-content: space-evenly;
    margin:10px;
  } 
  
  #d12 .k, #d34 .k, #d56 .k, #d7 .k {
    border: 10px double black;
    border-style:ridge;
    border-radius: 10px;
    margin: 20px;
  }
  #d12 > div:nth-child(2),#d34 > div:nth-child(2),#d56 > div:nth-child(2),#d7 > div:nth-child(1),
  #d12 > div:nth-child(1),#d34 > div:nth-child(1),#d56 > div:nth-child(1)
  {
    text-align: center;
    border: 5px ridge black;
    border-radius: 10px;
    margin: 20px;
    padding :10px;
    font-size: 25px;
    font-weight: 500;
    color: darkred;
    background-image: url('../images/back2.avif');
    
    background-size: 120% 120%;
    background-blend-mode: color-burn;
  }
  
  #d12 > div:nth-child(2),#d12 > div:nth-child(1){
    padding:40px;
  }
  
  
  
  
  
  #d56 > div:nth-child(1),
  #d12 > div:nth-child(1),#d34 > div:nth-child(1)
  {
  
    animation-duration: 2s;
    animation-direction:normal;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
    animation-timing-function: ease-in-out;
    animation-name: khisakleft;  
  }
  #d12 > div:nth-child(2),#d34 > div:nth-child(2),#d56 > div:nth-child(2)
  {
    animation-duration: 2s;
    animation-direction:normal;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
    animation-timing-function: ease-in-out;
     animation-name: khisakright; 
  }
  #d7> div:nth-child(1)
  {
    animation-duration: 2s;
    animation-direction:normal;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
    animation-timing-function: ease-in-out;
     animation-name: khisakup; 
  }
  h3{
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    margin-top:10px;
    margin-bottom: 10px;
    color:rgb(132, 18, 238);
  }
  #title{
    text-align: center;
    font-size: 60px;
    color: red;
  }
   body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    animation: badlo 10s linear infinite;
  } 
  .k{
      box-shadow: 0 0 5px cyan,
      0 0 25px cyan;
  }
      .k:hover {
      box-shadow: 0 0 5px cyan,
      0 0 25px cyan, 0 0 50px cyan,
      0 0 100px cyan, 0 0 200px cyan;
      scale: 110%;
      }
  
  
  
  @keyframes badlo{
    0%{
      background-color: rgb(150, 249, 249);
    }
    50%
    {
      background-color: rgb(231, 231, 93);
    }
    100%
    {
      background-color: rgb(141, 240, 141);
    }
  }
  
  @keyframes khisakleft {
    from{
      transform:translateX(-100%) scale(40%);
      
    }
    to{
      transform: translateX(0) scale(100%);
      
    } 
  }
  @keyframes khisakright {
    from{
      transform:translateX(+100%) scale(40%);
    }
    to{
      transform: translateX(0) scale(100%);
    } 
  } 
  @keyframes khisakup {
    from{
      transform:translateY(+100%) scale(40%);
    }
    to{
      transform: translateY(0) scale(100%);
    } 
  } 
  
  #typing{
    position:relative;
  }
  #typing::after{
    content:"";
    position: absolute;
    left:0;
    height: 100%;
    width: 100%;
    border-left:2px solid black;
    animation:type 1.5s steps(10) infinite;
  }
  
  @keyframes type{
    100%{
      left:100%;
      margin:0 -35px 0 35px;
    }
  }
   
  