<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Special Thanks</title>
</head>
<body>
    <div class="slider">
        <div class="slides">
            <!-- radio buttons start-->
            <input type="radio" name="slide" id="radio1">
            <input type="radio" name="slide" id="radio2">
            <input type="radio" name="slide" id="radio3">
            <input type="radio" name="slide" id="radio4">
            <input type="radio" name="slide" id="radio5">
            <!-- radio buttons end -->
            <!-- Slide Images start -->
            <div class="slide first">
                <img src="/images/slides/slide1.png" alt="none">
            </div>
            <div class="slide">
                <img src="/images/slides/slide2.jpg" alt="none">
            </div>
            <!-- Automatic navigation start -->
            <div class="navigation-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
            </div>
            <!-- Automatic navigation end -->
            <!-- Slide Images end -->
        </div>
            <!-- Mannual navigation start -->
        <div class="navigation-manual">
            <label for="radio1" class="manual-btn 1"></label>
            <label for="radio2" class="manual-btn 2"></label>
        </div>
            <!-- Mannual navigation end --> 
    </div>
    <script>
        let counter = 1;
        setInterval(function() {
            document.getElementById('radio' + counter).checked = true;
            counter++;
            if(counter > 2) {
                counter = 1;
            }
        }, 5000);
    </script>
</body>
</html>