.onecomplaint{
    margin:2%;
    background-image: linear-gradient(to right,darkred,darkblue);
    opacity: 90%;
}
button:hover{
    transform: scale(1.1,1.1)  
}
button:active{
    transform: scale(1,1)
}